<!-- home.component.html -->

<div class="container text-center">
    <h1 class="display-4 mb-4">Bienvenido a la Gestión de El Mirador</h1>
    <p class="lead mb-5">Selecciona una opción para gestionar los aspectos del edificio:</p>
    
    <!-- Contenedor para los botones -->
    <div class="btn-group-vertical d-grid gap-3">
      <a routerLink="/departamentos" class="btn btn-primary btn-lg">Departamentos</a>
      <a routerLink="/gastos-comunes" class="btn btn-info btn-lg">Gastos Comunes</a>
      <a routerLink="/marcar-como-pagado" class="btn btn-success btn-lg">Gestionar Pago</a>
      <a routerLink="/listar-gastos-pendientes" class="btn btn-success btn-lg">Gastos Pendientes</a>
    </div>
  </div>
  